.cta-button {
  background-color: #00ff88;
  font-weight: bolder;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  transition: background-color 0.4s ease-in-out;
  box-shadow: 0 0 10px rgb(229, 255, 0);
  text-shadow: 0 0 10px rgb(244, 248, 24);
}

.cta-button:hover {
  background-color: #00cc66;
  color: #ffffff;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  text-shadow: 0 0 10px rgb(255, 255, 255);
}