
footer {
    margin-top: auto;
    padding: 10px 0;
    background: #1A1A1D;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 10px #0FF0FC;
    font-family: 'Share Tech Mono', monospace;
}