
.navbar {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3a0000;
    box-shadow: 0 0 15px #00f2ff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    font-family: 'Bungee', cursive;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: #FF0095;
    text-shadow: 0 0 15px #0FF0FC;
}

.navbar-logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px #FFEA00;
}

.navbar-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    transform: translateX(-30px);
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 5px 10px;
}

.navbar-links a:hover {
    color: #ffffff;
    /* transform: translate(-0.51px, -1px); */
    text-shadow: 0 0 10px #61ffea;
    font-weight: bolder;
    scale: 1.1;
}

.hamburger {
    display: none;
    font-size: 2rem;
    color: #FF0095;
    cursor: pointer;
    margin: 0 40px;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 111%;
        right: 15px;
        background: #1A1A1D;
        padding: 15px;
        box-shadow: 0 0 10px #A300F5;
        border: 2px solid white;
        border-radius: 3px;
    }

    .navbar-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

.content {
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    max-width: 800px;
    font-family: 'Righteous', cursive;
}

.content h1 {
    font-size: 3rem;
    text-shadow: 0 0 20px #FF0095;
    font-family: 'Press Start 2P', cursive;
}

.content p {
    font-size: 1.3rem;
    line-height: 1.6;
}
